<div class="language-switcher">
  <nz-select [(ngModel)]="selectedLanguage" (ngModelChange)="switchLanguage($event)">
    <nz-option nzValue="en" nzLabel="English"></nz-option>
    <nz-option nzValue="es" nzLabel="Español"></nz-option>
  </nz-select>
</div>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
  <nz-card nzTitle="{{ translationService.translate('CONTACT_FORM_TITLE') }}" class="contact-card">
    <div class="form-content">
      <div class="form-fields-image">
        <div class="form-fields">
          <nz-form-item>
            <nz-form-label [nzFor]="'email'" nzRequired>{{ translationService.translate('EMAIL') }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ translationService.translate('EMAIL_ERROR_TIP') }}">
              <input nz-input type="email" id="email" formControlName="email" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzFor]="'nombres'" nzRequired>{{ translationService.translate('FIRST_NAME') }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ translationService.translate('FIRST_NAME_ERROR_TIP') }}">
              <input nz-input type="text" id="nombres" formControlName="nombres" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzFor]="'apellidos'" nzRequired>{{ translationService.translate('LAST_NAME') }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ translationService.translate('LAST_NAME_ERROR_TIP') }}">
              <input nz-input type="text" id="apellidos" formControlName="apellidos" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzFor]="'comentarios'" nzRequired>{{ translationService.translate('COMMENTS') }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ translationService.translate('COMMENTS_ERROR_TIP') }}">
              <textarea nz-input formControlName="comentarios"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzFor]="'adjunto'">{{ translationService.translate('ATTACHMENT') }}</nz-form-label>
            <input type="file" (change)="onFileSelected($event)" />
          </nz-form-item>
        </div>
        <div *ngIf="imageUrl" class="image-preview">
          <img [src]="imageUrl" alt="Selected Image" />
          <button nz-button (click)="clearFile()">{{ translationService.translate('CLEAR') }}</button>
        </div>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="contactForm.invalid">{{ translationService.translate('SUBMIT') }}</button>
      </nz-form-control>
    </nz-form-item>
  </nz-card>
</form>

<nz-card nzTitle="{{ translationService.translate('CONTACTS_LIST_TITLE') }}" class="contact-card">
  <nz-list>
    <nz-list-item *ngFor="let item of contactos">
      <div class="contact-item">
        <span>{{ item.email }} - {{ item.nombres }} {{ item.apellidos }}</span>
        <div class="contact-actions">
          <button nz-button (click)="editContacto(item)">{{ translationService.translate('EDIT') }}</button>
          <button nz-button nzType="default" (click)="deleteContacto(item.id)">{{ translationService.translate('DELETE') }}</button>
        </div>
      </div>
    </nz-list-item>
  </nz-list>
</nz-card>